<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details evenement</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1>Anderlecht Community NGO</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/new">Nieuw evenement</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<hr>

<main>

    <h2>Details evenement</h2>

    <p>
        <strong>Titel:</strong>
        <span th:text="${event.titel}"></span>
    </p>

    <p>
        <strong>Omschrijving:</strong><br>
        <span th:text="${event.omschrijving}"></span>
    </p>

    <p>
        <strong>Organisatie:</strong>
        <span th:text="${event.organisatie}"></span>
    </p>

    <p>
        <strong>Contactpersoon:</strong>
        <span th:text="${event.email}"></span>
    </p>

    <p>
        <strong>Tijdstip:</strong>
        <span th:text="${event.tijdstip}"></span>
    </p>

    <h3>Locatie</h3>

    <p>
        <strong>Naam:</strong>
        <span th:text="${event.locatie.naam}"></span>
    </p>

    <p>
        <strong>Adres:</strong>
        <span th:text="${event.locatie.adres}"></span>
    </p>

    <p>
        <strong>Capaciteit:</strong>
        <span th:text="${event.locatie.capaciteit}"></span>
        personen
    </p>

</main>

<footer>
    <hr>
    <p>© 2026 Anderlecht Community NGO</p>
</footer>

</body>
</html>