<!DOCTYPE html>
<html>
<head>
    <title>Nieuw Evenement</title>
</head>
<body>

<h1>Nieuw Evenement</h1>

<a href="/">Home</a> |
<a href="/new">Nieuw evenement</a> |
<a href="/about">About</a>

<hr>

<form>

    <label>Titel:</label><br>
    <input type="text"><br><br>

    <label>Omschrijving:</label><br>
    <textarea></textarea><br><br>

    <label>Organisatie:</label><br>
    <input type="text"><br><br>

    <label>Email:</label><br>
    <input type="email"><br><br>

    <label>Tijdstip:</label><br>
    <input type="datetime-local"><br><br>

    <label>Locatie:</label><br>
    <input type="text"><br><br>

    <button type="submit">Opslaan</button>

</form>

<hr>

<footer>
    © 2026 Anderlecht Community NGO
</footer>

</body>
</html>